.cursor{
  cursor: pointer;
}

p {
    font-size: 22px;
  }

.tp{
    font-size: 60px;
    color:#fff;
}
.titulos1{
    font-size: 40px;
}
.titulos2{
    font-size: 30px;
  }
.margin{
   margin-bottom: 80px;
}
.color1{
    color:#000;
}

.fijo
{
    position: sticky; /*GOOGLE*/
    position: fixed; /*IE*/
    max-width: 100%;
    z-index: 1000;
 }


 
/* MENU RESPONSIVE */
.navbar 
{
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: 5px;
      color:#000;
}
.navbar-nav li a{
  /*color:#fff;*/
  text-decoration: none; /* links sin subrayado*/
  line-height: 20px;
  font-size: 16px;
  padding: 15px 10px 15px 10px;
  /*opcion extra con boton el menu */
  /*color:#fff !important;
  background-color:purple; */
}
  .navbar-nav  li a:hover {
      color:#fff !important;
      background-color: purple !important;
      padding-left: 20px;
      padding-right: 20px;
  }


/* MENU HAMBURGUESA */
.navbar-toggler{
  background-color: purple;
}
.navbar-toggler:hover{
  background-color: #e2e2e2;
}
/*recuadro*/
.custom-toggler.navbar-toggler 
{
  border-color:cyan;
}
.custom-toggler .navbar-toggler-icon 
{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}         
.custom-toggler .navbar-toggler-icon:hover 
{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}         



/*CONTENEDORES WEB*/

.contenedor1
{
  padding-top: 150px;
  padding-bottom: 150px;
}

.container-fluid
{
  padding-top: 400px;
  padding-bottom: 400px;
}


.container-fluid0
{
  padding-top: 80px;
  padding-bottom: 80px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

@media (max-width: 575px)
{
  .fondo1, .fondo2, .fondo3, .fondo4, .fondo5
  {
    background-size: 100% 100%;
  }
}

/* FONDOS WEB */

.fondoenc
{
  color: #ffffff;
  background-attachment: fixed;
  background-image: url("../imagenes/fondoenc.jpg");
  background-size: cover;
  padding-top: 200px;
  box-shadow: inset 0 0 0 1000px rgba(178, 39, 135, 0.5);
  /*agregar infinite alternate para que no se detenga va y vuelve la animacion */
  animation: slider 3s infinite alternate;
}

@keyframes slider
{
  from{
    background-position: right center;
  }
  to{
    background-position: left center;
  }
}

.fondo0
{
  color: #000;
  background-color: #ccc;
}
  
.fondo1
{
  color: #ffffff;
  background-attachment: fixed;
  background-image: url("../imagenes/fondo1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  /*transparencia */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

  
.fondo2
{
  color: #ffffff;
  background-attachment: fixed;
  background-image: url("../imagenes/fondo2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  /*transparencia */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

  
.fondo3
{
  color: #ffffff;
  background-attachment: fixed;
  background-image: url("../imagenes/fondo3.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  /*transparencia */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

  
.fondo4
{
  color: #ffffff;
  background-attachment: fixed;
  background-image: url("../imagenes/fondo4.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  /*transparencia */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

  
.fondo5
{
  color: #ffffff;
  background-attachment: fixed;
  background-image: url("../imagenes/fondo5.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  /*transparencia */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

/*MEDIAS QUERYS*/






/* icono flecha top*/
.go-top {
 /* display:none;*/
  position: fixed;
  bottom:1em;
  right: 1em;
  text-decoration: none;
  padding: 1em;
  border-radius:3px;
}
.go-top img:hover {
    transform: scale(2);
    transition: all 0.8s;
} 



/* pie de página */
.pie{
  text-align: center;
  color: #ffffff;
  line-height: 30px;
  padding:80px 0 20px 0;
} 



/*espacio entre iconos redes sociales con DIV individuales*/
/*espacio con un solo div /*margin: 45px;*/
.espacio{
  display: inline-block;
  margin:0px 15px 0px 15px;
}


/* animacion a los iconos font-awesome */
/* Poner modificador::before para aplicar color icono*/
div.animacion1:hover i {
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
}
div.animacion2:hover i {
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
  color:cyan;
}
div.animacion3:hover i::before {
  transition: all 1s ease-in-out;
  color:cyan;
}





